apptools==5.2.1
configobj==5.0.8
contourpy==1.1.0
cycler==0.11.0
envisage==7.0.3
fonttools==4.41.0
kiwisolver==1.4.4
matplotlib==3.7.2
mayavi==4.8.1
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
pyface==8.0.0
Pygments==2.15.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
python-dateutil==2.8.2
six==1.16.0
traits==6.4.1
traitsui==8.0.0
vtk==9.2.6
wxPython==4.2.1
